body{}

.player{text-align:center; margin-bottom:15px;}
.player-name{text-align: center; display: inline-block; width: 100%;}
.player-cards{text-align: center; display: inline-block;}
.player-cards .card{transition:all 1s ease-in-out;display:inline-block; width:100px; position: relative; margin:2px; height:150px; border:1px solid gray; box-shadow: 7px 7px 6px -4px #ccc;}
.player-cards .card:before{content:''; position: absolute; top:0; left:0; right:0; bottom:0; z-index: 1;}
/* żeby było widać kolory kart trzeba ustawić poniższy opacity na 0*/
.player-cards .card:after{opacity:1; transition:all 1s ease-in-out;content:''; position: absolute; top:0; left:0; right:0; bottom:0; z-index: 2; background:url(bg.jpg) center center no-repeat; background-size:cover;}
.player-cards .card_A:before{background:#00bcd4;}
.player-cards .card_B:before{background:#ff9800;}
.player-cards .card_C:before{background:#d1111d;}
.player-cards .card_D:before{background:#fff887;}
.player-cards .card_E:before{background:#dddd11;}
.player-cards .card_F:before{background:#bbb;}
.player-cards .card_G:before{background:#0087ff;}
.player-cards .card_H:before{background:#00468c;}
.player-cards .card_I:before{background:#654321;}
.player-cards .card_J:before{background:#660066;}
.player-cards .card_K:before{background:#ff00ff;}
.player-cards .card_L:before{background:#00ff00;}
.player-cards .card_P:before{background:#000;}
.player-cards .card.para:after {opacity:0;}
.player-cards .card.para.hide_card{display:none;}

.selectedcard { background:#ccc;}
.selectcard { background:#bbb;}
.selectcard .card {cursor:pointer;}
.selectcard .card:hover{box-shadow: 7px 7px 6px -4px #f30404;}
.player_lose { background:#f30404;}
#popup {position:fixed; top:0px; bottom:0px; left:0px; right:0px; background: rgba(0,0,0,0.5); z-index: 999;}
#popup_wrapp { position:absolute; top:50%; left:50%; transform: translateX(-50%) translateY(-50%); background: white; width:500px; height: 300px;}
#popup_wrapp h2 {text-align: center; margin:10px 0px;}
#popup_wrapp #hide_popup {display:inline-block; background:red; padding: 10px 20px;}
#popup_wrapp .name-input{padding:5px 0px; text-align: center;}
#popup_wrapp .button {text-align: center; margin-top:10px;}
